# Ambiente virtuale
venv/

# Python
*.pyc
__pycache__/

# File di configurazione di pyenv
.python-version

# Tesi, dati e codice successivo di prova
previous_code_and_data/

# paper accademici
arxive.org/

# migliori parametri trovati per modello
best/
